<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="/public/fontawesome/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="/public/css/main.css">

    <!-- Page additional CSS -->
    <% if (typeof styleImports !== "undefined") {
            for (let styleImport of styleImports) { %>
        <link rel="stylesheet" href="<%= styleImport %>">
    <%  }
    } %>

    <title><%= subtitle %> - Pizza Ordering System</title>
</head>
<body>
    <% include header.ejs %>

    <div id="content">
        <h2><%= subtitle %></h2>
