<header id="main-header">
    <a class="wrapper" href="/">
        <img id="logo" src="/public/img/logo.png" alt="logo">
        <h1>Pizza Ordering System</h1>
    </a>
</header>
<nav id="main-nav">
    <div class="wrapper">
        <ul>
            <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
            <li class="dropdown">
                <a href="/pizzas"><i class="fas fa-pizza-slice"></i>Pizzas</a>
                <ul>
                    <li><a href="/pizzas/make_your_own"><i class="fas fa-plus"></i>Create your own</a></li>
                </ul>
            </li>
            <li><a href="/other_items"><i class="fas fa-plus"></i>Other items</a></li>
            <li><a href="/cart"><i class="fas fa-shopping-cart"></i>Cart</a></li>
            <li class="dropdown">
                <a>
                    <i class="fas fa-user"></i>
                    <%= (connectedUser) ? `${connectedUser.first_name} ${connectedUser.last_name}` : "User" %>
                </a>
                <ul>
                    <% if (connectedUser) { %>
                        <li><a href="/user/log-out"><i class="fas fa-sign-out-alt"></i>Log out</a></li>
                    <% } else { %>
                        <li><a href="/user/log-in"><i class="fas fa-sign-in-alt"></i>Log in</a></li>
                        <li><a href="/user/sign-up"><i class="fas fa-user-plus"></i>Sign up</a></li>
                    <% } %>
                </ul>
            </li>
        </ul>
    </div>
</nav>