<p id="info-message" hidden></p>

<script>
    let timedHide = null;

    function info(message) {
        let messageBox = document.getElementById("info-message");
        messageBox.textContent = message;
        messageBox.hidden = false;

        if (timedHide) {
            clearTimeout(timedHide);
        }
        timedHide = setTimeout(
            () => {
                messageBox.hidden = true;
            },
            5000
        );
    }
</script>