h3 {
    color: var(--color1-fore);
    text-align: center;
}

.cart-section table {
    border-collapse: collapse;
    margin: auto;
}

.cart-section thead {
    border-bottom: var(--color1-fore) 2px solid;
}

.cart-section tbody tr:not(:last-child) {
    /*border-bottom: var(--color1-fore) 1px solid;*/
}

.cart-section td, .cart-section th {
    padding: 0.5em 1em;
}

.cart-section table .name {
    font-weight: bold;
}

.cart-section table .pizza-size {
    font-weight: normal;
}

.cart-section .quantity input {
    display: block;
    width: 2.5em;
    margin: auto;
}

.cart-section .price {
    text-align: right;
}

.cart-section .delete {
    color: var(--color1-fore);
    cursor: pointer;
}

#total-price {
    text-align: center;
    font-size: 1.5em;
}

#confirm-button {
    margin: auto;
    width: fit-content;
    width: -moz-fit-content;
}