#ingredients {
    display: table;
    width: 100%;
    list-style: none;
    padding: 0;
}

#ingredients > * {
    display: table-row;
}

#ingredients > * > * {
    display: table-cell;
    padding: 0.1em;
}

#ingredients .min-price {
    text-align: right;
}

#ingredients .min-price-notice {
    font-size: 0.75em;
}

#ingredients .ingredientNameCell {
    padding-right: 2em;
}

#pizza-min-price {
    font-size: 2em;
    font-weight: bold;
    color: var(--color1-fore);
}