form {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}

form > div:not(:last-child) {
    margin: 0 0 0.5em;
}

form > div > h3 {
    color: var(--color1-fore);
    margin: 0 0 0.5em;
}

form button[type=submit] {
    display: block;
    margin: auto;
    padding: 0.2em 1em;
}