.items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.item {
    background-color: var(--color4-back);
    color: var(--color4-fore);
    cursor: pointer;
}

.item > .content {
    display: grid;
    grid-template-columns: auto max-content;
    grid-gap: 0.5em;
    margin: 0;
    padding: 0.5em;
}

.item a {
    text-decoration: none;
    color: inherit
}

.item:not(:last-child) {
    margin-bottom: 1em;
}

.item > .content h3 {
    grid-area: 1 / 1 / 2 / 2;
    padding-right: 4em;
    word-break: break-word;
    margin: auto 0;
    vertical-align: middle;
}

.item > .content .price-div {
    margin: 0;
    grid-area: 1 / 2 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item > .content .price-div > p {
    margin: 0;
}

.item > .content .price-div .price {
    font-size: 1.5em;
    font-weight: bold;
}