html, body, #wrapper {
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--color1-back);
    
    display: flex;
    flex-direction: column;

    --color1-back: white;
    --color1-fore: #bd2442;

    --color2-back: #de2a4e;
    --color2-fore: white;

    --color3-back: #fdd05f;
    --color3-fore: #bd2442;

    --color4-back: #ffdc83;
    --color4-fore: #bd2442;
}



/* Site header */

#main-header {
    background-color: var(--color2-back);
    color: var(--color2-fore);
}

#main-header > .wrapper {
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
    flex: 0;
    display: flex;
}

#main-header > .wrapper > * {
    margin: auto;
}

#main-header a {
    color: var(--color2-fore);
    text-decoration: none;
}

#logo {
    height: 5em;
    padding: 1em;
    flex: 0;
}

#main-header > .wrapper > h1 {
    flex: 1;
}



/* Nav bar */

#main-nav {
    background-color: var(--color3-back);
}

#main-nav > .wrapper {
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
}

#main-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#main-nav a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: var(--color3-fore);
    cursor: pointer;
}

#main-nav a:hover {
    background-color: #ffffff54;
    transition-duration: 0.15s;
}

#main-nav .fas {
    margin-right: 0.4em;
}

#main-nav .dropdown > ul {
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: var(--color3-back);
}

#main-nav .dropdown > ul a {
    color: var(--color3-fore);
}

#main-nav .dropdown:hover > ul {
    display: block;
}



/* Page content */

#content {
    max-width: 50em;
    margin: auto;
    flex: 1;
    padding: 1em;
}

#content > h2 {
    text-align: center;
    margin-top: 0;
    color: var(--color1-fore)
}

#info-message {
    box-sizing: border-box;
    text-align: center;
    padding: 2em;
    width: 100%;
    background-color: #b9b9ff;
}

.error-message {
    width: 100%;
    text-align: center;
    background-color: #fe5d5d;
    color: white;
    padding: 0.5em;
}



/* Site footer */

#main-footer {
    padding: 1em;
    background-color: var(--color2-back);
    color: var(--color2-fore);
}

#main-footer > p {
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
}



/* Other */

.button {
    display: block;
    background-color: var(--color2-back);
    color: var(--color2-fore);
    border: none;
    padding: 1em;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0 0.75em rgba(0, 0, 0, 0.3);
}