.pizza > .content {
    grid-template-columns: auto max-content max-content;
}

.pizza > .content .ingredients {
    grid-area: 2 / 1 / 3 / 2;
    margin: 0;
    padding-right: 4em;
}

.pizza > .content .crust-flavour {
    font-weight: bold;
}

.pizza > .content .price-div {
    grid-area: 1 / 2 / 3 / 3;
}

.pizza > .content .develop-div {
    grid-column: 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pizza .expandable {
    padding: 1em;
    border-top: var(--color4-fore) 0.1em solid;
    cursor: default;
}

.pizza .expandable .content {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.pizza .pizza-image {
    display: block;
    flex-basis: 100%;
    height: 100%;
}

.pizza .pizza-image img {
    display: block;
    height: 8em;
}

.pizza .sizes {
    display: table;
    margin: 0 0 0 auto;
}

.pizza .sizes .size-row {
    display: table-row;
}

.pizza .sizes .size-row > * {
    display: table-cell;
    padding: 0.25em;
}

.pizza .sizes .size-row .size {
    text-align: left;
    padding-right: 1em;
}

.pizza .sizes .size-row .price {
    width: 100%;
    padding: 1em;
}

.pizza .sizes .size-row:not(:last-child) .price {
    margin-bottom: 0.5em;
}