<%- include("../partials/head.ejs", {subtitle: "Cart", styleImports: ["/public/css/cart.css"]}); %>

<div class="cart-section">
    <h3>Pizzas</h3>
    <table id="pizzas">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for (let pizza of items.pizzas) { %>
                <tr data-pizza-id="<%= pizza.id %>" data-pizza-size="<%= pizza.size %>">
                    <td class="name">
                        <span class="pizza-name"><%= pizza.name %></span>
                        <span class="pizza-size"> - <%= pizza.size %>cm</span>
                    </td>
                    <td class="quantity"><input type="number" min="1" max="99" value="<%= pizza.quantity %>"></td>
                    <td class="price"><%= pizza.price.toFixed(2) %>€</td>
                    <td class="delete"><i class="fas fa-trash-alt" title="Delete this item from the cart"></i></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<div class="cart-section">
    <h3>Other Items</h3>
    <table id="other-items">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for (let item of items.otherItems) { %>
                <tr data-item-name="<%= item.name %>">
                    <td class="name"><%= item.name %></td>
                    <td class="quantity"><input type="number" min="1" max="99" value="<%= item.quantity %>"></td>
                    <td class="price"><%= item.price.toFixed(2) %>€</td>
                    <td class="delete"><i class="fas fa-trash-alt" title="Delete this item from the cart"></i></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>

<div class="cart-section">
    <h3>Total</h3>
    <p id="total-price"></p>
</div>

<div class="cart-section" id="confirm-button-section">
    <a class="button" id="confirm-button" href="/cart/confirm">Confirm</a>
</div>

<script type="module" src="/public/js/cart.mjs"></script>

<% include ../partials/foot.ejs %>