<%- include("../partials/head.ejs", {subtitle: "Cart Confirmation", styleImports: ["/public/css/cart-confirmation.css"]}); %>

<form method="post" id="cart-confirmation-form">
    <div>
        Price: <%= price.toFixed(2) %>€
    </div>
    <div id="order-type-section">
        <h3>Order Type</h3>
        <ul>
            <li>
                <label>
                    <input type="radio" name="orderType" value="delivery" checked>
                    Delivery
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" name="orderType" value="pick up">
                    Pick up
                </label>
            </li>
        </ul>
    </div>
    <div id="delivery-address-section">
        <label>
            <div>Address to deliver to</div>
            <textarea name="deliveryAddress" cols="30" rows="4"></textarea>
        </label>
    </div>
    <div>
        <h3>Payment details</h3>
        <div>
            <label>
                Card number
                <input type="text" name="cardNb">
            </label>
        </div>
        <div>
            <label>
                Card expiration date
                <input type="text" name="cardExpDate">
            </label>
        </div>
    </div>
    <div>
        <button type="submit" class="button" id="confirm-button">Confirm</button>
    </div>
</form>

<script type="module" src="/public/js/cart-confirmation.mjs"></script>

<% include ../partials/foot.ejs %>