<%- include("../partials/head.ejs", {subtitle: "Create your own Pizza", styleImports: ["/public/css/form.css", "/public/css/create-pizza.css"]}); %>

<% ingredients.sort((a, b) => a.name.localeCompare(b.name)) %>

<form method="post" id="create-pizza-form">
    <div>
        <label for="pizza-name">Name</label>
        <input name="name" type="text" id="pizza-name" required>
    </div>
    <div>
        <label for="crust-flavour">Crust Flavour</label>
        <select name="crustFlavour" id="crust-flavour">
            <% for (let crustFlavour of crustFlavours) { %>
                <option value=<%= crustFlavour.name %>>
                    <%= crustFlavour.name %>
                </option>
            <% } %>
        </select>
    </div>
    <div>
        <h3>Ingredients</h3>
        <ul id="ingredients">
            <%
                let i = 0;
                for (let ingredient of ingredients) {
                    let checkboxId = "checkbox" + i++;
            %>
                <li>
                    <span>
                        <input type="checkbox" name="ingredients[]" value="<%= ingredient.name %>" id="<%= checkboxId %>">
                    </span>
                    <span>
                        <% if (ingredient.vegetarian) { %>
                            <i class="fas fa-leaf"></i>
                        <% } %>
                    </span>
                    <span class="ingredientNameCell">
                        <label for="<%= checkboxId %>"><%= ingredient.name %></label>
                    </span>
                    <span class="min-price">
                        <span class="min-price-notice">From </span><span><%= ingredient.minPrice.toFixed(2) %>€</span>
                    </span>
                </li>
            <% } %>
        </ul>
    </div>
    <div>
        Price: from <span id="pizza-min-price"></span>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>

<script src="/public/js/create-pizza.js"></script>

<% include ../partials/foot.ejs %>