<%- include("../partials/head.ejs", {subtitle: "Log in", styleImports: ["/public/css/form.css"]}); %>

<% if (typeof errorMessage !== "undefined") { %>
    <p class="error-message">
        <%= errorMessage %>
    </p>
<% } %>
<form method="post" id="log-in-form">
    <div>
        <label for="email">Email</label>
        <input name="email" type="text" id="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input name="password" type="password" id="password" required>
    </div>
    <div>
        <button type="submit">Log in</button>
    </div>
</form>

<% include ../partials/foot.ejs %>