<%- include("../partials/head.ejs", {subtitle: "Other items", styleImports: ["/public/css/items-list.css"]}); %>

<% include ../partials/info-message.ejs %>

<ul class="items-list" id="other-items-list">
    <% for (let item of items) { %>

        <li class="item" data-name="<%= item.name %>">
            <div class="content">
                <h3>
                    <%= item.name %>
                </h3>
                <div class="price-div">
                    <p class="price"><%= item.price.toFixed(2) %>€</p>
                </div>
            </div>
        </li>

    <% } %>
</ul>

<script type="module" src="/public/js/other-items.mjs"></script>

<% include ../partials/foot.ejs %>