<%- include("../partials/head.ejs", {subtitle: "Pizzas", styleImports: ["/public/css/items-list.css", "/public/css/pizzas.css"]}); %>

<% include ../partials/info-message.ejs %>

<ul class="items-list" id="pizzas-list">
    <% for (let pizza of pizzas) {
        let minPrice = Math.min(...pizza.sizes.map(size => size.price));
    %>

        <li class="item pizza" data-id="<%= pizza.id %>">
            <div class="content">
                <h3>
                    <%= pizza.name %>
                    <% if (pizza.vegetarian) { %>
                        <i class="fas fa-leaf"></i>
                    <% } %>
                </h3>
                <div class="price-div">
                    <p>From <span class="price"><%= minPrice.toFixed(2) %>€</span></p>
                </div>
                <p class="ingredients">
                    <span class="crust-flavour"><%= pizza.crust_flavor %> crust</span>,
                    <%= pizza.ingredients.map(ing => ing.name).join(", ") %>
                </p>
                <div class="develop-div">
                    <i></i>
                </div>
            </div>
            <div class="expandable" hidden>
                <div class="content">
                    <% if (pizza.image_url) { %>
                        <div class="pizza-image">
                            <img src="<%= pizza.image_url %>" alt="pizza image">
                        </div>
                    <% } %>
                    <div class="sizes">
                        <% for (let crustSize of pizza.sizes) { %>
                            <div class="size-row" data-size="<%= crustSize.size %>">
                                <div class="size">
                                    <%= crustSize.size %>cm
                                </div>
                                <button class="button price">
                                    <%= crustSize.price.toFixed(2) %>€
                                </button>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </li>

    <% } %>
    <li class="item">
        <a class="content" href="/pizzas/make_your_own">
            <h3>Create your own</h3>
        </a>
    </li>
</ul>

<script type="module" src="/public/js/pizzas.mjs"></script>

<% include ../partials/foot.ejs %>