<%- include("../partials/head.ejs", {subtitle: "Sign up", styleImports: ["/public/css/form.css"]}); %>

<% if (typeof errorMessage !== "undefined") { %>
    <p class="error-message">
        <%= errorMessage %>
    </p>
<% } %>
<form method="post" id="sign-up-form" autocomplete="off">
    <div>
        <label for="first-name">First name</label>
        <input name="firstName" type="text" id="first-name" required>
    </div>
    <div>
        <label for="last-name">Last name</label>
        <input name="lastName" type="text" id="last-name" required>
    </div>
    <div>
        <label for="phone-number">Phone number</label>
        <input name="phoneNumber" type="text" id="phone-number" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input name="email" type="text" id="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input name="password" type="password" id="password" required>
    </div>
    <div>
        <button type="submit">Sign up</button>
    </div>
</form>

<% include ../partials/foot.ejs %>